[Unit]
Description=Backup via borgmatic
Wants=network-online.target
After=network-online.target
Documentation=man:borgmatic(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/borgmatic --verbosity 1

[Install]
WantedBy=default.target

