[Unit]
Description=Sync nextcloud every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=cloud-audacis.service

[Install]
WantedBy=timers.target
