[Unit]
Description=Sync nextcloud every minute

[Timer]
OnCalendar=*:0/15
Persistent=true
Unit=cloud-peasec.service

[Install]
WantedBy=timers.target
