[Unit]
Description=Sync Audacis Nextcloud
Documentation=man:nextcloudcmd(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/nextcloudcmd -n /home/phil/var/cloud.audacis.net https://cloud.audacis.net
StandardError=syslog
