[Unit]
Description=Sync mails with mbsync
Documentation=man:mbsync(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
StandardOutput=syslog
StandardError=syslog
