[Unit]
Description=Sync vdirsyncer
Wants=network-online.target
After=network-online.target
Documentation=man:vdirsyncer(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/vdirsyncer sync
